<!doctype html>
<html>

	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
		<title>{{#resume.basics}}{{name}}{{/resume.basics}}</title>
		<style>
			{{{css}}}
		</style>
	</head>

	<body>
		<div id="resume">
			{{#resume.basics}}
				<header id="header" class="clear">
						<img class="picture" src="{{picture}}" alt="{{name}}"/>
						<div class="middle">
							<h1 class="name">{{name}}</h1>
							<h2 class="label">{{label}}</h2>
						</div>
					<div id="contact">
						{{#if website}}
						<div class="website">
              <span class="fa fa-external-link"></span>
							<a target="_blank" href="{{website}}">{{website}}</a>
						</div>
						{{/if}}
						{{#if email}}
						<div class="email">
              <span class="fa fa-envelope-o"></span>
							<a href="mailto:{{email}}">{{email}}</a>
						</div>
						{{/if}}
						{{#if phone}}
						<div class="phone">
              <span class="fa fa-mobile"></span>
							{{phone}}
						</div>
						{{/if}}
					</div>

					{{#if profiles.length}}
					<div id="profiles">
						{{#each profiles}}
						<div class="item">
							{{#if network}}
								<div class="username">
									<span class="fa fa-{{spaceToDash network}} {{spaceToDash network}} social"></span>
									{{#if url}}
									<span class="url">
										<a href="{{url}}">{{username}}</a>
									</span>
									{{else}}
										<span>{{username}}</span>
									{{/if}}
								</div>
							{{/if}}
						</div>
						{{/each}}
					</div>
					{{/if}}
				</header>

			{{/resume.basics}}

			{{#if resume.work.length}}
				<section class="section">
					<header>
						<h2 class='section-title'>Work Experience <span class="item-count">({{resume.work.length}})</span></h2>
					</header>
					<section id="work">
						{{#each resume.work}}
							{{#if company}}
								<header>
									<span class="space-left">
										<span class="fa fa-caret-down"></span>
									</span>
									{{#if position}}
									<div class="position">
										{{position}}
									</div>
									{{/if}}
									<div class="company">
										{{company}}
									</div>
									<div class="date">
										{{#if startDate}}
										<span class="startDate">
											{{Y startDate}}
										</span>
										{{/if}}
										{{#if endDate}}
										<span class="endDate">
											- {{Y endDate}}
										</span>
										{{else}}
										<span class="endDate">
											- Current
										</span>
										{{/if}}
									</div>
								</header>
							{{/if}}

              {{#location}}
                <span class="location">
                    <span class="fa fa-map-marker"></span>
                    {{#if city}}
                    <span class="city">
                        {{city}},
                    </span>
                    {{/if}}
                    {{#if countryCode}}
                    <span class="countryCode">
                        ({{countryCode}})
                    </span>
                    {{/if}}
                    {{#if region}}
                    <span class="region">
                      {{region}}
                    </span>
                    {{/if}}
                </span>
              {{/location}}
              {{#if website}}
                  <span class="website">
                      <a href="{{website}}">{{website}}</a>
                  </span>
              {{/if}}

							{{#if keywords.length}}
								<ul class="keywords">
									{{#each keywords}}
									<li>{{.}}</li>
									{{/each}}
								</ul>
							{{/if}}

							<div class="item display" style="opacity:1">
              {{#if summary}}
                <div class="summary">
                  <p>{{summary}}</p>
                </div>
              {{/if}}
              {{#if highlights.length}}
                <ul class="highlights">
                  {{#each highlights}}
                    <li>{{.}}</li>
                  {{/each}}
                </ul>
              {{/if}}
							</div>
						{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.education.length}}
				<section class="section">
					<header>
						<h2 class='section-title'>Education <span class="item-count">({{resume.education.length}})</span></h2>
					</header>
					<section id="education">
						{{#each resume.education}}
							<header class="clear">
								<span class="space-left">
								  <span class="fa fa-caret-down"></span>
								</span>
								<div class="header-left">
									{{#if area}}
										<div class="area">
											{{area}}
										</div>
									{{/if}}
									{{#if institution}}
										<div class="institution">
											{{institution}}
										</div>
									{{/if}}
								</div>
								<div class="date">
									{{#if startDate}}
									<span class="startDate">
										{{Y startDate}}
									</span>
									{{/if}}
									{{#if endDate}}
									<span class="endDate">
										- {{Y endDate}}
									</span>
									{{else}}
									<span class="endDate">
										- Current
									</span>
									{{/if}}
								</div>
							</header>

							{{#location}}
								<span class="location">
									<span class="fa fa-map-marker"></span>
									{{#if city}}
										<span class="city">
											{{city}},
										</span>
									{{/if}}
									{{#if countryCode}}
										<span class="countryCode">
											({{countryCode}})
										</span>
									{{/if}}
									{{#if region}}
										<span class="region">
											{{region}}
										</span>
									{{/if}}
								</span>
							{{/location}}

              {{#if courses.length}}
                <ul class="highlights">
                  {{#each courses}}
                    <li>{{.}}</li>
                  {{/each}}
                </ul>
              {{/if}}

							<div class="item display" style="opacity:1">
              {{#if gpa}}
                <div class='gpa'>
                  <strong> Grade:</strong> <span>{{gpa}}</span>
                </div>
              {{/if}}
              {{#if summary}}
                <div class="summary">
                  <p>{{summary}}</p>
                </div>
              {{/if}}
							</div>
						{{/each}}
					</section>
				</section>
			{{/if}}

			{{#if resume.languages.length}}
				<section class="section margin1">
					<header>
						<h2 class='section-title'>Languages</h2>
					</header>
					<section id="languages">
						{{#each resume.languages}}
							<div class="display">
								{{#if language}}
										<h3 class="language">
											{{language}}
										</h3>
								{{/if}}
								<div class="item">
									{{#if fluency}}
										<div class="level fluency {{toLowerCase fluency}}">
											<em>{{fluency}}</em>
											<div class="bar"></div>
										</div>
									{{/if}}
								</div>
							</div>
						{{/each}}
					</section>
				</section>
			{{/if}}
		</div>
	</body>
</html>
